/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #02010A;
    color: #fff;
}

/* Cabeçalho */
header {
    background-color: #04052E;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/* Navegação */
nav {
    background-color: #140152;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

/* Seções */
section {
    padding: 1em;
    background-color: #22007C;
    margin-bottom: 20px;
}

/* Formulário */
form {
    max-width: 400px;
    margin: 0 auto;
}

/* Rodapé */
footer {
    background-color: #0D00A4;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
